<?xml version="1.0" encoding="UTF-8"?>
<QCARConfig xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="qcar_config.xsd">
  <Tracking>
    <ImageTarget name="Wii" size="4.000000 5.508221" />
    <ImageTarget name="IMG_20200415_171135" size="1.000000 0.821522" />
  </Tracking>
</QCARConfig>
